<div class = "col-sm-6">
<div class="data-form">
    <form class="journalEntry" method="POST" action="<%= `/topics/${topic._id}/${entry._id}/update?_method=PUT`%>">
      <h2>Edit user:</h2>
      <label for="inputHeading"><b>Heading</b></label><br>
      <input type="text" name="heading" id="inputHeading" class="form-control" value="<%= entry.heading %>" placeholder="Heading" autofocus required autocomplete="off"><br>
      <label for="inputTopic"><b>Topic</b></label><br>
      <select  name="topic" id="inputTopic" required autocomplete="off">
        <% topics.forEach(t => {%>
          <option value="<%= t.topicName%>"><%= t.topicName%></option>
        <% })%>
      </select><br><br>
      <label for="inputContent"><b>Content</b></label><br>
      <textarea name="content" id="inputContent" class="form-control" value="<%= entry.content %>" placeholder="content" required autocomplete="off"></textarea><br>
      <button type="submit">Save</button>
    </form>
  </div>
</div>